html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
    color: #333;
    display: flex;
    flex-direction: column;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.3em;
    color: #f2f2f2;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: red;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2em;
}

.menu-toggle {
    margin-left: 20px;
    font-size: 45px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    color: black;
}

.services-section {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.service-item {
    width: calc(30% - 40px);
    text-align: center;
    margin: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.service-item:hover {
    transform: translateY(-10px);
}

.slider {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.slider-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Zorg ervoor dat de afbeelding de container vult zonder vervorming */
    top: 0; /* Zorg dat de afbeelding vanaf de bovenkant begint */
    left: 0; /* Zorg dat de afbeelding vanaf de linkerkant begint */
    border-radius: 15px; /* Ronde hoeken voor de afbeeldingen */
    transition: opacity 1s ease-in-out, box-shadow 0.3s ease; /* Transities voor effecten */
}

.slider-image:first-child {
    opacity: 1;
}

.service-item h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
}

.service-item p {
    font-size: 1em;
    color: #555;
}

footer {
    background-color: black;
    text-align: center;
    padding: 30px 0;
    color: #f2f2f2;
    font-size: 1.2em;
    position: relative;
    width: 100%;
    margin-top: auto;
}

@media (max-width: 768px) {
    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .service-item {
        width: 80%;
    }
}
